vggnet_in_keras/17flowers/jpg/
alexnet_in_keras/17flowers/jpg/
alexnet_in_keras/17flowers/17flowers.pkl
alexnet_in_keras/17flowers/17flowers.tgz
vggnet_in_keras/17flowers/17flowers.pkl
vggnet_in_keras/17flowers/17flowers.tgz
